@charset "UTF-8";

/* parte geral */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fontePdr: Arial, Helvetica, sans-serif;
    --mainColor: rgb(255, 182, 45);
}

body {
    background-color: #eee;
}

hr {
    border: 1px dashed rgb(241, 241, 241);
}

/*nav e menu */

.headerArea {
    background: var(--mainColor);
    height: 150px;
}

h1{
   text-align: center;
   padding-top: 35px;
}

h1 {
    font-size: 44px;
    color: white;
    font-family: var(--fontePdr)
}

.spanTitle {
    color: rgb(27, 26, 26);
}

.navMenu {
    text-align: center;
    padding-top: 20px;
}

.navMenu a {
    
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 14px;
}

.navMenu a:hover {
    background-color: white;
    color: var(--mainColor);
}

/* post/recent/category */

.mainPage {
    width: 80%;
    margin: 15px auto;
    padding: 15px;
    position: relative;
}

.recentArea, .categoryArea {
    padding: 12px;
    font-family: var(--fontePdr);
    font-size: 14px;
}

.recentArea h3, .categoryArea h3 {
    background: #ddd;
    color: rgb(48, 48, 48);
    padding: 5px;
}

.recentArea p, .categoryArea p {
    padding: 5px;
}

.recentArea a, .categoryArea a {
    text-decoration: none;
    color: var(--mainColor);
}

.recentArea a:hover, .categoryArea a:hover {
    text-decoration: underline;
    color: var(--mainColor);
}


.postArea, .recentArea, .categoryArea {
    background-color: white;
    margin: 10px;
}

.postArea { 
    width: 70%;
    padding: 20px;
    float: left;
}

h2 {
    color: var(--mainColor);
    font-size: 28px;
}

.postData {
    font-size: 12px;
}

hr, .imgPost, .postArea p {
    width: 100%;
}

.imgPost {
    padding: 10px 0px;
}

.postArea p {
    font-family: var(--fontePdr);
    padding-bottom: 10px;
}

.postArea a {
    text-decoration: none;
    color: var(--mainColor);
}

.postArea a:hover {
    text-decoration: underline;
}

.recentArea {
    width: 25%;
    float: right;
    position: relative;
    bottom: 650px
}

.categoryArea {
    width: 25%;
    float: right;
    position: relative;
    bottom: 650px
}

.categoryArea a {
    display: block;
    padding: 5px;
}

/*footer*/

footer {
    clear: both;
    background-color: #ddd;
    text-align: center;
    width: 98%;
    margin: auto;
    padding: 15px;
}

