@charset "UTF-8";

/*general parts - body*/

:root {
    --mainFont: Arial, Helvetica, sans-serif;
    --blueColor: rgb(41, 76, 113);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    overflow-x: hidden;
}

body {
    font-family: var(--mainFont);
    align-items: center;
    text-align: center;
}

h2 {
    font-size: 16px;
    color: white;
    background: var(--blueColor);
    padding: 5px;
    margin: 2px;
    text-align: left;
}

h3 {
    color: var(--blueColor);
    text-transform: uppercase;
    font-size: 12px;
    margin: 2px;
    text-align: left;
}


/*general parts - body - END*/

/*header area*/

#main-title {
    position: relative;
    left: 20000px;
}

.brazil-map-detail {
    position: relative;
    float: right;
    right: 150px;
    bottom: 40px;
}

#main-header {
    background: var(--blueColor) url(../imgs/fundo.png) repeat-x;
    height: 233px;
}

.nav-header {
    background: darkred;
    display: inline-block;
    padding: 18px 12px;
    margin: 10px;
    border-radius: 8px;
}

.nav-header a {
    background: darkred;
    color: white;
    padding: 18px 12px;
}

.nav-header a:hover {
    color: black;
}

.nav-header a.ativo {
    background-color: rgb(185, 10, 10);
    border-radius: 8px;
}

/*header area - END*/

/*news area*/

#news-area {
    margin: 10px auto;
    width: 80%;
}

/*news area - END*/

/*first/second area*/

.first-area, .second-area {
    height: 90%;
    padding: 10px;
    margin: 10px;
    overflow-y: hidden;
}

.first-area {
    width: 25%;
    float: left;
}

.second-area {
    float: right;
    width: 70%;
}


/*first/second area - END*/

/*interview/news area*/

.interview-area, .news-area {
    background: #eee url(../imgs/fundo-caixa.png);
    width: 80%;
    text-align: left;
    float: right;
}

.interview-area {
    height: 43%;
}

.interview-area a {
    background: white;
    display: block;
}

.interview-link {
    color: black;
    margin: 2px;
    padding: 6px;
    font-size: 15px;
    border-bottom: 1px solid #ccc solid #bbb;
}

.interview-link:hover {
    padding-left: 25px;
    background:  #eee url(../imgs/marcador.png) no-repeat left center;
    color: #bbb;
}

.news-area {
    height: 16%;
    padding: 2px;
    margin-top: 8px;
}

.news-area form {
    background: white;
}

.news-area input {
    width: 80%;
}

.news-area .submit-class {
    width: 50%;
    background: darkred;
    margin: 2px;
    color: white;
    cursor: pointer;
}

/*interview/news area - END*/

/*highlight/last interview/world/recent area*/

.highlight-area, .last-interview-area, .world-area, .recent-area {
    background: #aaa url(../imgs/fundo-caixa.png);
    height: 44%;
    padding: 5px;
    width: 40%;
    margin: 8px;
    display: inline-block;
}

.news-div {
    background: white;
    padding: 4px;
}

.highlight-area, .last-interview-area {
    text-align: left;
}

.about-title {
    text-transform: uppercase;
    font-size: 14px;
    text-align: left;
    background: darkred;
    margin: 2px;
    width: 50%;
    color: white;
}

.news-img {
    border: 3px solid #aaa;
    text-align: left;
    width: 100%;
}

.read-link {
    text-decoration: underline;
    color: darkred;
}

.read-link:hover {
    text-decoration: underline;
    color: rgb(189, 0, 0);
}

.third-level-area {
    background: white;
    border-bottom: 2px solid #ccc;
}

.third-level-area:hover {
    background: #ddd;
}

.third-level-area p {
    color: black;
    text-align: left;
    font-size: 12px;
}


.third-level-img {
    width: 30%;
    margin: 5px;
    float: left;
}


/*highlight/last interview/world/recent area - END*/

/*footer area*/

footer {
    height: 40px;
    padding-top: 15px;
    padding-left: 110px;
    background: var(--blueColor);
    color: white;
    text-align: left;
}
/*footer area - END*/

/* news post - id */

#news-post-id, #photos-post-id {
    width: 70%;
    background: url(../imgs/fundo-caixa.png);
    padding: 15px;
}

.second-level-area {
    background: white;
    padding: 6px;
}

.second-level-area p {
    line-height: 1.5em;
    text-align: left;
}

/* news post - id - END*/

/*photos post/ recent -id */

#photos-post-id, #recent-photos-id {
    width: 60%;
}



/*photos post/recent id - END */