@charset "UTF-8";

#conteudo {
    background: #dcdcdc;
    height: 600px;
    display: flex;
}

.item {
    width: 100px;
    height: 100px;
    background: white;
    border: 1px solid gray;
    margin: 10px;
    flex-grow: 0;
}

.item1 {
    height: 100px;
    background: white;
    border: 1px solid gray;
    margin: 10px;
    flex-grow: 1;
}

.ordem {
    order: -1;
}